.w3-theme-l5 {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#dfe5e8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#becbd2 !important}
.w3-theme-l2 {color:#000 !important; background-color:#9eb1bb !important}
.w3-theme-l1 {color:#fff !important; background-color:#7d97a5 !important}
.w3-theme-d1 {color:#fff !important; background-color:#57707d !important}
.w3-theme-d2 {color:#fff !important; background-color:#4d636f !important}
.w3-theme-d3 {color:#fff !important; background-color:#435761 !important}
.w3-theme-d4 {color:#fff !important; background-color:#BEC3BD !important}
.w3-theme-d5 {color:#fff !important; background-color:#303e45 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#303e45 !important}
.w3-theme-action {color:#fff !important; background-color:#303e45 !important}

.w3-theme {color:#fff !important; background-color:#607d8b !important}
.w3-text-theme {color:#C4E2B6 !important}
.w3-border-theme {border-color:#607d8b !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#607d8b !important}
.w3-hover-text-theme:hover {color:#C4E2B6 !important}
.w3-hover-border-theme:hover {border-color:#607d8b !important}

.accordion {position:absolute;right:0;top:0;background-color: #eee;color: #BEC3BD;cursor: pointer;border: none;text-align: left;outline: none;transition: 0.4s;}
.close {position:absolute;right:0;top:0;background-color: #eee;color: #D2ABB4;cursor: pointer;border: none;text-align: left;outline: none;transition: 0.4s;}
.closeside {position:absolute;right:0;top:0;background-color: #eee;color: #D2ABB4;cursor: pointer;border: none;text-align: left;outline: none;transition: 0.4s;}
.home {position:absolute;right:0;top:0;background-color: #BEC3BD;color: #fff;cursor: pointer;border: none;text-align: left;outline: none;transition: 0.4s;}
.expand {padding: 0 0px;display: none;background-color: #eee;overflow: hidden;}
.active
.accordion:hover {background-color: #BEC3BD;}





  .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .audio.green-audio-player {
    width: 400px;
    min-width: 300px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    .play-pause-btn {
      display: none;
      cursor: pointer;
    }
    .spinner {
      width: 18px;
      height: 18px;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
      background-size: cover;
      background-repeat: no-repeat;
      animation: spin 0.4s linear infinite;
    }
    .slider {
      flex-grow: 1;
      background-color: #D8D8D8;
      cursor: pointer;
      position: relative;
      .progress {
        background-color: #44BFA3;
        border-radius: inherit;
        position: absolute;
        pointer-events: none;
        .pin {
          height: 16px;
          width: 16px;
          border-radius: 8px;
          background-color: #44BFA3;
          position: absolute;
          pointer-events: all;
          box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
        }
      }
    }
    .controls {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 18px;
      color: #55606E;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      margin-left: 24px;
      margin-right: 24px;
      .slider {
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 2px;
        height: 4px;
        .progress {        
          width: 0;
          height: 100%;
          .pin {
            right: -8px;
            top: -6px;
          }
        }
      }
      span {
        cursor: default;
      }
    }
    .volume {
      position: relative;
      .volume-btn {
        cursor: pointer;
        &.open path {
          fill: #44BFA3;
        }
      }
      .volume-controls {
        width: 30px;
        height: 135px;
        background-color: rgba(0, 0, 0, 0.62);
        border-radius: 7px;
        position: absolute;
        left: -3px;
        bottom: 52px;
        flex-direction: column;
        align-items: center;
        display: flex;
        &.hidden {
          display: none;
        }
        .slider {
          margin-top: 12px;
          margin-bottom: 12px;
          width: 6px;
          border-radius: 3px;
          .progress {
            bottom: 0;
            height: 100%;
            width: 6px;
            .pin {
              left: -5px;
              top: -8px;
            }
          }
        }
      }    
    }
  }
  svg, img {
    display: block;
  }
  
  @keyframes spin {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(1turn);
    }
  }
  
  
  
  
  